.goods__block{
    margin-bottom: 20px;
    border: 1px dashed rgb(0, 0, 0);
    padding: 5px;
    width: 200px;
}


.goods__image{
    width: 100px;
    height: auto;
}

.goods__title{
    font-size: 33px;
}
p span{
    margin-left: 10px;
    font-size: 1.4em ;
}